@import url('https://fonts.google.com/specimen/Quicksand');

img {
  max-width: 100%;
}

/* Typography */
body {
  font-family: 'Garamond', serif;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
.rgba-gradient {
    background: rgba(35, 7, 77, 0.6);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 3em;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-align: center;
}

#site-nav li {
  display: inline-block;
  padding-right: 1em;
}

#portfolio-nav {
  font-size: 2em;
}

#portfolio-nav li {
  line-height: 1.8em;
}

#copyright {
  font-size: 1em;
  text-align: right;
  color: aliceblue;
}
